<!doctype html>
<html>
<head>
	<title> Reports! Reports for everyone!</title>
	<script src="{{ url_for('static', filename='flot/jquery.js') }}"></script>
	<script src="{{ url_for('static', filename='flot/jquery.flot.js') }}"></script>
	<script src="{{ url_for('static', filename='flot/jquery.flot.time.js') }}"></script>
	<script src="{{ url_for('static', filename='bootstrap3/js/bootstrap.js') }}"></script>
  <script src="{{ url_for('static', filename='select2/select2.js') }}"></script>
	<script src="{{ url_for('static', filename='datatables/jquery.dataTables.min.js') }}"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap3/css/bootstrap.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap3/css/bootstrap-theme.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='select2/select2.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='select2/select2-bootstrap.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='datatables/jquery.dataTables.css') }}">

<script type="text/javascript">
  $(document).ready(function() {
    $('table.prettytable3').dataTable({
        "scrollY":        "300px",
        "scrollCollapse": true,
        "paging":         false,
        "order": [[ 2, "desc" ]]
      });
    $('table.prettytable4').dataTable({
        "scrollY":        "300px",
        "scrollCollapse": true,
        "paging":         false,
        "order": [[ 3, "desc" ]]
      });
  } );
</script>

</head>
<body>
<h1>REPORT STUFF</h1>
<h2>Basic Restaurant Stats</h2>
Number of restaurants that have a rating: {{restaurants_with_rating}} <br>
Number of restaurants that have &gt;1 review: {{restaurants_with_reviews}} <br> 
Number of restaurants that have &gt;1 picture: {{restaurants_with_pictures}} <br> 

<h2>"Search" volume by guests vs registered users</h2>

<div id="search-volume-guests" style="width: 500px; height: 500px"></div>

<div style="width: 900px">
  <h2>Daily Active Users</h2>
  {{active_users}}
   <table class="prettytable3">
    <thead>
      <tr>
        <th>Username</th>
        <th>Diner ID</th>
        <th>Number of votes</th>
        <th>Number of reviews</th>
        <th>Number of searches</th>
      </tr>
    </thead>
    <tbody>
      {% for (diner, votecount, reviewcount, searchcount) in active_users %}
      <tr>
        <td>{{ diner.userName }}</td>
        <td>{{ diner.dinerID }}</td>
        {% if votecount == '1' %}
          {% votecount = '9999' %}
        {% endif %}
        <td>{{ votecount }}</td>
        <td>{{ reviewcount }} </td>
        <td>{{ searchcount }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table> 

  <h2>Current top referrers</h2>

  <table class="prettytable3">
    <thead>
      <tr>
        <th>Username</th>
        <th>Diner ID</th>
        <th>Number of referrals</th>
      </tr>
    </thead>
    <tbody>
      {% for (diner, count) in top_referrers %}
      <tr>
        <td>{{ diner.userName }}</td>
        <td>{{ diner.dinerID }}</td>
        <td>{{ count }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <h2>Top reviewers in users who have registered within past 5 days</h2>
  <table class = "prettytable4">
    <thead>
      <tr>
        <th>Username</th>
        <th>Diner ID</th>
        <th>Account creation date</th>
        <th>Review count</th>
      </tr>
    </thead>
    <tbody>
      {% for (diner, review_count) in recent_reviewers %}
      <tr>
        <td>{{diner.userName}}</td>
        <td>{{diner.dinerID}}</td>
        <td>{{ diner.createDT }}</td>
        <td>{{ review_count }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <h2>Top voters in users who have registered within past 5 days</h2>
  <table class="prettytable4">
  	<thead>
  		<tr>
  			<th>Username</th>
        <th>Diner ID</th>
  			<th>Account creation date</th>
  			<th>Vote count</th>
  		</tr>
  	</thead>
  	<tbody>
      {% for (vote_count, diner) in recent_voters %}
      <tr>
       <td>{{ diner.userName }}</td>
       <td>{{ diner.dinerID}}</td>
       <td>{{ diner.createDT }}</td>
       <td>{{ vote_count }}</td>
      </tr>
      {% endfor %}
  	</tbody>
  </table>


</div>

<h2>Vote history for user</h2>

<select id="select-history-user">
	<option>Select a user</option>
	{% for diner in diners %}
    <option value="{{ diner.dinerID }}">
     {{ diner.userName }} ({{ diner.dinerID }})
    </option>
	{% endfor %}
</select>

<div id="noah-vote-history" style="width: 500px; height: 500px;">
</div>


<script>
  $(function(){

  	var data_guest = $.parseJSON("{{ search_volume_guest|tojson }}");
  	var data_registered = $.parseJSON("{{ search_volume_registered|tojson }}");

    $.plot("#search-volume-guests", [{ label: "Guests", data: data_guest}, { label: "Registered", data: data_registered}], {
	   xaxis: { mode: "time" }
    });

    $("#select-history-user").select2().on("change", function(event){ 
      var dinerID = $(event.currentTarget).val();
      if(!!!dinerID) return false; 

      $.ajax({
        url: "/vote_history/" + dinerID, 
        type: "GET",
        dataType: "json",
        success: function(data) {
        	$.plot("#noah-vote-history", [{ data: data.data, bars: { show: true }}], {
				xaxis: { mode: "time" }
			});
        },
        error: function() {
        	alert("FUCKKKKKK for ID" + dinerID);
        }
      })

    });   
  })
</script>